@import "../global/var.less";
@import "../global/mixins.less";

.additional {
  margin: 0 20px;
  padding-top: 25px;

  @media (min-width: @tab-width) {
    margin: 0 30px;
    padding-top: 45px;
  }

  @media (min-width: @ds-width) {
    margin: 0 110px;
    padding: 76px 0 86px;
  }
}

.additional__title-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    z-index: -1;
    top: 53%;
    width: calc(100vw - 20px);
    height: 2px;
    background-color: @bg-main-color;
    content: "";

    @media (min-width: @tab-width) {
      width: 100vw;
      left: -30px;
      background: linear-gradient(to right, #68b738 4%, #ffffff 4%, #ffffff 9%, #68b738 9%);
    }

    @media (min-width: @ds-width) {
      left: -110px;
    }
  }
}

.additional__title {
  max-width: 247px;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: @title-size-2;
  line-height: @main-text-line-height-2;
  background-color: @main-btn-color;

  @media (min-width: @tab-width) {
    max-width: 374px;
    margin: 0 0 80px 36px;
    font-size: @title-size-1;
    line-height: @title-line-height-1;
  }

  @media (min-width: @ds-width) {
    margin: 0 0 80px 0;
  }
}

.additional__content-wrapper {
  @media (min-width: @ds-width) {
    display: flex;
    column-gap: calc(100vw - 1360px);
    justify-content: space-between;
  }
}

.additional__product-list {
  @media (min-width: @ds-width) {
    width: calc(100vw - 545px);
  }
}

.additional__product-card {
  position: relative;
  padding: 13px 0 19px;

  @media (max-width: 768px) {
    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: @decor-2;
      content: "";
    }

    &:last-child::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: @decor-2;
      content: "";
    }
  }

  @media (min-width: @tab-width) {
    padding: 26px 38px 33px;
    border-top: 1px solid @decor-2;
    border-right: 1px solid @decor-2;
    border-left: 1px solid @decor-2;

    &:last-child {
      border-bottom: 1px solid @decor-2;
    }
  }

  @media (min-width: @ds-width) {
    display: flex;
    column-gap: calc(100vw - 1400px);
    align-items: center;
    padding: 14px 0 17px;
    border-top: 1px solid @decor-2;
    border-right: 0;
    border-left: 0;
  }
}

.additional__product-content-wrapper {
  @media (min-width: @tab-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__product-card-title {
  font-weight: 400;
  line-height: @font-line-height-5;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @tab-width) {
    font-size: @font-size-1;
    line-height: @font-line-height-1;
  }

  @media (min-width: @ds-width) {
    min-width: 161px;
    margin-right: calc(100vw - 1276px);
  }
}

.additional__discription-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 13px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: @main-text-size-1;
  line-height: @font-line-height-2;
  color: @main-text-color;

  @media (min-width: @tab-width) {
    column-gap: 50px;
    margin: 0;
    font-size: @main-text-size-2;
    line-height: @font-line-height-1;
  }

  @media (min-width: @ds-width) {
    width: 285px;
    gap: 10px;
  }
}

.additional__btn-order {
  .btn();
  margin-top: 15px;
  padding: 10px 0;
  font-size: @main-text-size-2;
  line-height: @font-line-height-1;

  @media (min-width: @tab-width) {
    margin-top: 25px;
    padding: 7px 0;
  }

  @media (min-width: @ds-width) {
    width: calc(100vw - 1196px);
    padding: 10px 0;
    margin: 0;
  }
}

.additional__gift {
  @media (max-width: 1439px) {
    display: none;
  }

  @media (min-width: @ds-width) {
    position: relative;
    z-index: 1;
    width: calc(100vw - 1195px);
    min-height: 100%;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      width: calc(100vw - 1195px);
      min-height: 100%;
      content: "";
    }

    &::before {
      z-index: -1;
      background-color: rgba(104, 183, 56, 0.85);
    }

    &::after {
      z-index: -2;
      background: url("../../img/catalog/tablet-desktop/catalog-cat-desktop.png") no-repeat;
      background-size: cover;
    }
  }
}

.additional__gift-title {
  @media (min-width: @ds-width) {
    position: relative;
    width: calc(100vw - 1279px);
    margin: 0 auto;
    padding-top: 185px;
    font-family: "Lato", "Arial", sans-serif;
    font-size: @main-text-size-2;
    line-height: @font-line-height-1;
    text-align: center;
    color: @main-btn-color;
    background: url("../../img/catalog/icon/catalog-gift.svg") no-repeat 50% 35%;
  }
}
