@import "../global/var.less";
@import "../global/mixins.less";

.additional {
  margin: 0 20px;
  padding-top: 25px;

  @media (min-width: @tab-width) {
    margin: 0 30px;
    padding-top: 68px;
  }
}

.additional__title-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    z-index: -1;
    top: 53%;
    width: calc(100vw - 20px);
    height: 2px;
    background-color: @bg-main-color;
    content: "";

    @media (min-width: @tab-width) {
      width: 100vw;
      left: -30px;
      background: linear-gradient(to right, #68b738 4%, #ffffff 4%, #ffffff 9%, #68b738 9%);
    }
  }
}

.additional__title {
  max-width: 247px;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: @title-size-2;
  line-height: @main-text-line-height-2;
  background-color: @main-btn-color;

  @media (min-width: @tab-width) {
    max-width: 374px;
    margin: 0 0 80px 36px;
    font-size: @title-size-1;
    line-height: @title-line-height-1;
  }
}

.additional__product-card {
  position: relative;
  padding: 13px 0 19px;

  @media (max-width: 768px) {
    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: @decor-2;
      content: "";
    }

    &:last-child::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: @decor-2;
      content: "";
    }
  }

  @media (min-width: @tab-width) {
    padding: 26px 38px 28px;
    border-top: 1px solid @decor-2;
    border-right: 1px solid @decor-2;
    border-left: 1px solid @decor-2;

    &:last-child {
      border-bottom: 1px solid @decor-2;
    }
  }
}

.additional__product-content-wrapper {
  @media (min-width: @tab-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__product-card-title {
  font-weight: 400;
  line-height: @font-line-height-5;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @tab-width) {
    font-size: @font-size-1;
    line-height: @font-line-height-1;
  }
}

.additional__discription-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 13px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: @main-text-size-1;
  line-height: @font-line-height-2;
  color: @main-text-color;

  @media (min-width: @tab-width) {
    column-gap: 50px;
    margin: 0;
    font-size: @main-text-size-2;
    line-height: @font-line-height-1;
  }
}

.additional__btn-order {
  .btn();
  margin-top: 15px;
  padding: 10px 0;
  font-size: @main-text-size-2;
  line-height: @font-line-height-1;

  @media (min-width: @tab-width) {
    margin-top: 25px;
    padding: 7px 0;
  }
}
