@import "../global/var.less";

.example {
  position: relative;
  margin: 0 20px;

  &::before {
    position: absolute;
    left: -20px;
    width: 100vw;
    height: 100%;
    background-color: #eaeaea;
    content: "";
  }
}

.example__title {
  position: relative;
  padding-top: 25px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: @title-size-1;
  line-height: @title-line-height-3;
}

.example__discription {
  position: relative;
  margin-bottom: 20px;
  font-family: "Lato", "Arial", sans-serif;
  color: @main-text-color;
}

.example__list {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.example__term-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.example__term-discription {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 124px;
  min-height: 56px;
  font-size: @title-size-2;
  line-height: @main-text-line-height-2;
  outline: 1px solid @decor-2;
  border-radius: 3px;
}

.example__term {
  width: 87px;
  margin-top: -7px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: @font-size-3;
  line-height: 12px;
  text-align: center;
  color: @main-text-color;
  background-color: #eaeaea;
}

.example__total {
  position: relative;
  margin-bottom: 20px;
  line-height: @font-line-height-1;
  text-align: center;
  text-transform: uppercase;
}

// Слайдер до-после
.example__slider {
  position: relative;
  width: 100%;
}

.example__slider-before {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 50%;
  background-color: #eaeaea;
}

.example__slider-after .example__img {
  width: 100%;
  background-color: #eaeaea;
}

.example__slider-control {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #666666;
  border-radius: 2px;

  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    background: url("../../img/index/icons/slider-thumb-default.svg") no-repeat;
    transform: translate(-50%, -50%);
    content: "";
  }

  &:hover {
    background-color: @bg-main-color;

    &::after {
      background: url("../../img/index/icons/slider-thumb-hover.svg") no-repeat;
    }
  }

  &:active {
    background-color: @bg-main-color-hover;
    opacity: 0.6;

    &::after {
      background: url("../../img/index/icons/slider-thumb-active.svg") no-repeat;
    }
  }
}
