@import "../global/var.less";

.footer__contacts {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0 20px;
  padding: 26px 0;

  @media (min-width: @tab-width) {
    gap: 10px 296px;
    margin: 0 30px;
    padding: 60px 40px;
  }
}

.footer__contacts-title {
  font-weight: 400;
  font-size: @main-text-size-2;
  line-height: @font-line-height-1;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tab-width) {
    font-size: @font-size-1;
    line-height: @font-line-height-4;
  }
}

.footer__contacts-address {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  line-height: @font-line-height-1;
  color: @main-text-color;

  @media (min-width: @tab-width) {
    min-width: 160px;
    font-size: @main-text-size-2;
    text-align: right;
  }
}

.footer__address-space {
  @media (max-width: 768px) {
    display: none;
  }
}

.footer__map {
  width: 100vw;

  @media (min-width: @tab-width) {
    display: block;
    height: 400px;
  }
}

.footer__social {
  position: relative;

  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    margin-left: -30px;
    width: 100vw;
    height: 100%;
    background-color: @bg-text-color;
    content: "";
  }

  @media (min-width: @tab-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    padding: 60px 0;
  }
}

.footer__site-logo-wrapper {
  margin: 0 20px;
  padding: 40px 77px 20px;

  @media (min-width: @tab-width) {
    margin: 0 28px 0 0;
    padding: 0;
  }
}

.footer__site-logo {
  width: 129px;
  margin: 0 auto;
}

.footer__site-logo svg {
  fill: #111111;
}

.footer__site-logo:hover svg {
  fill: #3e3e3e;
}

.footer__site-logo:active svg {
  fill: #6b6b6b;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 26px;
  margin: 0 20px;
  padding: 20px 77px;
  border-top: 1px solid @decor-1;
  border-bottom: 1px solid @decor-1;

  @media (min-width: @tab-width) {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.footer__social-link svg {
  fill: @decor-3;
}

.footer__social-link:hover svg {
  fill: @bg-main-color;
}

.footer__social-link:active svg {
  fill: @bg-main-color;
  opacity: 0.3;
}

.footer__main-logo-wrapper {
  margin: 0 20px;
  padding: 20px 0 40px;

  @media (min-width: @tab-width) {
    margin: 0;
    padding: 0;
  }
}

.footer__main-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__main-logo svg {
  fill: @decor-3;
}

.footer__main-logo:hover svg {
  fill: @bg-main-color;
}

.footer__main-logo:active {
  opacity: 0.3;
}

.footer__main-logo-text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: @main-text-size-2;
  line-height: 19px;
  color: @main-text-color;

  @media (min-width: @tab-width) {
    margin-right: 27px;
  }
}
