@import "../global/var.less";
@import "../global/mixins.less";

.form {
  margin-top: 39px;
  padding-bottom: 32px;

  @media (min-width: @tab-width) {
    margin-top: 66px;
    padding-bottom: 72px;
  }

  @media (min-width: @ds-width) {
    display: grid;
    grid-template-columns: calc(47% - 3px) calc(47% - 3px);
    column-gap: 80px;
    padding-bottom: 82px;
  }
}

.form__input-wrapper {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 13px;

    @media (min-width: @tab-width) {
      margin-bottom: 23px;
    }

    @media (min-width: @ds-width) {
      margin-bottom: 20px;
    }
  }

  &:last-of-type {
    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
}

.form__label {
  margin-right: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: @main-text-size-2;
  color: @main-text-color;

  @media (min-width: @tab-width) {
    font-size: @font-size-1;
    line-height: @font-line-height-3;
  }
}

.form__input {
  .input();
  width: 100%;
  padding: 14px 20px 13px;
  font-size: @main-text-size-2;

  @media (min-width: @tab-width) {
    padding: 9px 20px;
    font-size: @font-size-1;
    line-height: @font-line-height-3;
  }

  @media (min-width: @ds-width) {
    padding: 11px 17px;
  }
}

// Цель программы

.form__group-radio {
  position: relative;
  padding: 30px 0 12px;

  @media (min-width: @tab-width) {
    margin: 76px auto 0;
    padding: 29px 28px 20px;
    border: 1px solid @decor-4;
  }

  @media (min-width: @ds-width) {
    margin: 0;
  }

  &::before,
  &::after {
    @media (max-width: 768px) {
      position: absolute;
      width: 100vw;
      height: 1px;
      left: -20px;
      background-color: @decor-1;
      content: "";
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.form__radio-item {
  min-height: 30px;

  @media (min-width: @tab-width) {
    min-height: 40px;
  }

  &:not(:last-of-type) {
    margin-bottom: 13px;
  }
}

.form__control {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 45px;
  cursor: pointer;

  @media (min-width: @tab-width) {
    margin-left: 60px;
  }
}

.form__control-input:hover + .form__control-mark {
  border: 1px solid #bababa;
}

.form__control-input:disabled ~ span {
  opacity: 0.3;
  cursor: default;
}

.form__control-input:focus ~ span {
  outline: 1px solid @main-title-color;
}

.form__control-mark {
  position: absolute;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid @decor-2;
  cursor: pointer;

  @media (min-width: @tab-width) {
    left: -60px;
    width: 40px;
    height: 40px;
  }
}

.form__control-mark-radio {
  border-radius: 50%;
}

input[type="radio"]:checked + .form__control-mark-radio::before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 13px;
  height: 13px;
  background-color: @bg-main-color;
  border-radius: 50%;
  content: "";

  @media (min-width: @tab-width) {
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }
}

.form__control-label {
  font-size: @main-text-size-2;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @tab-width) {
    font-size: @font-size-1;
    line-height: @font-line-height-3;
  }
}

// Владелец кота

.form__group-owner {
  @media (min-width: @ds-width) {
    grid-column: 1 / -1;
  }
}

.form__legend-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    z-index: -1;
    top: 31%;
    width: calc(100vw - 20px);
    height: 2px;
    background-color: @bg-main-color;
    content: "";

    @media (min-width: @tab-width) {
      width: 100vw;
      top: 60%;
      left: -69px;
      background: linear-gradient(to right, @bg-main-color 4%, @main-btn-color 4%, @main-btn-color 9%, @bg-main-color 9%);
    }

    @media (min-width: @ds-width) {
      left: -110px;
    }
  }
}

.form__legend {
  font-weight: 400;
  font-size: @title-size-2;
  line-height: @font-line-height-4;
  background-color: @main-btn-color;

  @media (min-width: @tab-width) {
    font-size: @title-size-1;
    line-height: @title-line-height-1;
  }
}

.form__legend-owner {
  max-width: 201px;
  margin: 26px 0 35px;

  @media (min-width: @tab-width) {
    max-width: 554px;
    margin: 74px 0 76px;
  }

  @media (min-width: @ds-width) {
    max-width: 551px;
    margin-top: 68px;
  }
}

.form__input-container-owner {
  @media (min-width: @ds-width) {
    display: flex;
    gap: 78px;
  }
}

.form__input-wrapper-owner:not(:last-of-type) {
  margin-bottom: 14px;

  @media (min-width: @tab-width) {
    margin-bottom: 26px;
  }

  @media (min-width: @ds-width) {
    margin: 0;
  }
}

.form__label-owner {
  margin-right: 11px;

  @media (min-width: @tab-width) {
    margin-right: 23px;
  }
}

.form__input-owner {
  position: relative;
  padding-left: 18px;
  padding-right: 50px;

  @media (min-width: @ds-width) {
    padding: 11px 50px 11px 20px;
  }
}

.form__input-email {
  @media (min-width: @ds-width) {
    width: 486px;
  }
}

.form__input-tel {
  @media (min-width: @ds-width) {
    width: 467px;
    padding-left: 17px;
  }
}

.form__input-owner:focus + .form__input-icon {
  stroke: @bg-main-color;
}

.form__input-owner:invalid + .form__input-icon {
  stroke: #ff8282;
}

.form__input-icon {
  position: absolute;
  right: 16px;
  stroke: @main-title-color;

  @media (min-width: @tab-width) {
    right: 18px;
  }

  &--email {
    @media (min-width: @ds-width) {
      left: 533px;
    }
  }
}

// Комментарий

.form__group-comment {
  @media (min-width: @ds-width) {
    grid-column: 1 / -1;
  }
}

.form__legend-wrapper-comment::before {
  top: 56%;

  @media (min-width: @tab-width) {
    top: 66%;
  }
}

.form__legend-comment {
  max-width: 144px;
  margin-bottom: 38px;

  @media (min-width: @tab-width) {
    max-width: 220px;
    margin: 65px 0 79px;
  }
}

.form__input-comment {
  height: 150px;
  padding: 10px 9px 12px 15px;
  font: inherit;
  font-size: @main-text-size-2;

  @media (min-width: @tab-width) {
    height: 174px;
    padding: 9px 19px;
    font-size: @font-size-1;
    line-height: @font-line-height-3;
  }
}

// Дополнительно

.form__group-add {
  @media (min-width: @ds-width) {
    grid-column: 1 / -1;
  }
}

.form__legend-wrapper-add::before {
  top: 57%;

  @media (min-width: @tab-width) {
    top: 62%;
  }
}

.form__legend-add {
  max-width: 165px;
  margin: 20px 0 40px;

  @media (min-width: @tab-width) {
    max-width: 252px;
    margin: 58px 0 62px;
  }

  @media (min-width: @ds-width) {
    margin-bottom: 65px;
  }
}

.form__checkbox-list {
  @media (min-width: @tab-width) {
    display: grid;
    margin-right: 99px;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 123px;
  }

  @media (min-width: @ds-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 0;
    margin-right: 95px;
  }
}

.form__checkbox-item {
  min-height: 30px;

  @media (min-width: @tab-width) {
    min-height: 40px;
  }

  &:not(:last-of-type) {
    @media (max-width: 768px) {
      margin-bottom: 13px;
    }
  }

  @media (min-width: @ds-width) {
    &:first-child {
      margin-right: -48px;
    }

    &:nth-child(2) {
      margin-left: 23px;
    }

    &:nth-child(3) {
      margin-left: 0;
    }

    &:nth-child(4) {
      margin-left: 80px;
    }
  }
}

input[type="checkbox"]:checked + .form__control-mark-checkbox::before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18px;
  height: 14px;
  background: url("../../img/form/icon/form-tick.svg") no-repeat;
  content: "";

  @media (min-width: @tab-width) {
    top: 10px;
    width: 24px;
    height: 19px;
    background: url("../../img/form/icon/form-tick-tab.svg") no-repeat;
  }
}

// Кнопка
.form__btn-wrapper {
  @media (min-width: @tab-width) {
    display: flex;
    gap: 59px;
    align-items: center;
    margin: 48px 100px 0 0;
  }

  @media (min-width: @ds-width) {
    grid-column: 1 / -1;
    gap: 84px;
    margin: 54px 350px 0 0;
  }
}

.form__btn {
  .btn();
  width: 100%;
  margin-top: 27px;
  padding: 9px 44px 10px;
  font-size: @main-text-size-2;
  line-height: @font-line-height-1;

  @media (min-width: @tab-width) {
    width: calc(100vw - 487px);
    margin: 0;
    padding: 13px 45px;
    font-size: @font-size-1;
    line-height: @font-line-height-3;
  }

  @media (min-width: @ds-width) {
    width: calc(100vw - 872px);
  }
}

.form__note {
  margin-top: 15px;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
  color: @main-title-color;

  @media (min-width: @tab-width) {
    margin: 0;
    min-width: 181px;
  }
}
