@import "../global/var.less";
@import "../global/mixins.less";

.form {
  margin-top: 39px;
  padding-bottom: 32px;
}

.form__input-wrapper {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.form__label {
  margin-right: 13px;
  text-transform: uppercase;
  white-space: nowrap;
  color: @main-text-color;
}

.form__input {
  .input();
  width: 100%;
  padding: 14px 20px 13px;
}

// Цель программы

.form__group-radio {
  position: relative;
  padding: 22px 0 19px;

  &::before,
  &::after {
    position: absolute;
    width: 100vw;
    height: 1px;
    left: -20px;
    background-color: @decor-1;
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.form__radio-item {
  min-height: 30px;

  &:not(:last-of-type) {
    margin-bottom: 13px;
  }
}

.form__control {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 45px;
  cursor: pointer;
}

.form__control-input:hover + .form__control-mark-radio {
  border: 1px solid #bababa;
}

.form__control-input:disabled ~ span {
  opacity: 0.3;
  cursor: default;
}

.form__control-input:focus ~ span {
  outline: 1px solid @main-title-color;
}

.form__control-mark {
  position: absolute;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid @decor-2;
  cursor: pointer;
}

.form__control-mark-radio {
  border-radius: 50%;
}

input[type="radio"]:checked + .form__control-mark-radio::before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 13px;
  height: 13px;
  background-color: @bg-main-color;
  border-radius: 50%;
  content: "";
}

.form__control-label {
  font-size: @main-text-size-2;
  text-transform: uppercase;
  color: #222222;
}

// Владелец кота

.form__legend-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    z-index: -1;
    top: 55%;
    width: calc(100vw - 20px);
    height: 2px;
    background-color: @bg-main-color;
    content: "";
  }
}

.form__legend {
  font-size: @title-size-2;
  line-height: @font-line-height-4;
  background-color: @main-btn-color;
}

.form__legend-owner {
  max-width: 201px;
  padding-top: 26px;
  margin-bottom: 35px;
}

.form__input-owner {
  position: relative;
  padding-left: 15px;
  padding-right: 50px;
}

.form__input-owner:focus + .form__input-icon {
  stroke: @bg-main-color;
}

.form__input-owner:invalid + .form__input-icon {
  stroke: #ff8282;
}

.form__input-icon {
  position: absolute;
  right: 16px;
  stroke: @main-title-color;
}
