.main-header {
  position: relative;
  min-width: 280px;
  margin: 10px 20px 18px;
}

.main-header__logo {
  max-width: 191px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
