@import "../global/var.less";
@import "../global/mixins.less";

.promo {
  position: relative;
  z-index: 1;
  margin: 0 20px 20px;

  &::before,
  &::after {
    position: absolute;
    left: -20px;
    top: -27px;
    width: 100vw;
    height: 302px;
    content: "";
  }

  &::before {
    background-color: rgba(104, 183, 56, 0.85);
  }

  &::after {
    z-index: -1;
    background: url("../../img/index/index-bg.png") no-repeat;
    background-size: cover;
  }
}

.promo__title {
  position: relative;
  max-width: 250px;
  margin: 27px auto 25px;
  font-weight: 400;
  font-size: @title-size-1;
  line-height: @title-line-height-1;
  color: @main-btn-color;
  text-align: center;
}

.promo__slogan {
  position: relative;
  max-width: 198px;
  margin: 0 auto 29px;
  line-height: @font-line-height-2;
  color: @main-btn-color;
  text-transform: uppercase;
}

.promo__img {
  position: relative;
  width: 100%;
  margin-bottom: 3px;
}

.promo__link {
  padding: 11px 0;
  .btn;
}
