@import "./var.less";

.btn() {
  text-align: center;
  text-transform: uppercase;
  color: @main-btn-color;
  background-color: @bg-main-color;

  &:hover {
    background-color: @bg-main-color-hover;
  }

  &:active {
    color: rgba(256, 256, 256, 0.3);
  }
}

.input() {
  outline: 1px solid @decor-4;
  text-transform: uppercase;
  color: @main-text-color;

  &:hover {
    outline: 1px solid @decor-2;
  }

  &:focus {
    outline: 2px solid @main-text-color;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  &:disabled {
    background-color: @decor-2;
    cursor: default;
  }

  &::placeholder {
    color: @main-text-color;
  }
}
