// Цвета
@main-title-color: #000000;
@main-btn-color: #ffffff;
@main-text-color: #444444;

@bg-main-color: #68b738;
@bg-main-color-hover: #5eaa2f;
@bg-text-color: #f2f2f2;

@decor-1: #d9d9d9;
@decor-2: #cdcdcd;
@decor-3: #666666;
@decor-4: #e7e7e7;
@decor-5: #ebebeb;
@decor-6: #d3d3d3;

// Типографика
@main-text-size-1: 14px;
@main-text-size-2: 16px;
@font-size-1: 20px;
@font-size-2: 18px;
@font-size-3: 12px;
@title-size-1: 36px;
@title-size-2: 24px;
@title-size-2: 60px;

@main-text-line-height-1: 18px;
@main-text-line-height-2: 24px;
@font-line-height-1: 20px;
@font-line-height-2: 14px;
@font-line-height-3: 30px;
@font-line-height-4: 26px;
@font-line-height-5: 16px;
@font-line-height-6: 22px;
@title-line-height-1: 36px;
@title-line-height-2: 37px;
@title-line-height-3: 40px;
@title-line-height-4: 60px;

// Вьюпорты
@mob-width: 320px;
@tab-width: 768px;
@ds-width: 1440px;

// Ретина
@retina: 1.5dppx;
